## Cargar Datos en DataFrames

@author: Octavio Gutiérrez de Código Máquina

URL del canal: https://www.youtube.com/CodigoMaquina

URL del video: https://youtu.be/uGx0PHD6o9M

In [1]:
import pandas as pd

ventas = pd.read_excel("datos/ventas_anuales.xlsx", index_col=0,
                    skiprows=1, sheet_name="2021")
ventas

                Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
Sucursal Norte         2001         2002         2003         2004
Sucursal Este          4001         4002         4003         4004
Sucursal Oeste         6001         6002         6003         6004
Sucursal Sur           8001         8002         8003         8004